.DS_Store
.build/
.swiftpm/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
Examples/PocketRootDemo/PocketRootDemo.xcodeproj/
/PocketRootDemo.xcodeproj/
Examples/PocketRootHostApp/PocketRootHostApp.xcodeproj/
